@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-chocolate-900: #2B1B17;
  --color-chocolate-800: #4E342E;
  --color-chocolate-600: #795548;
  --color-caramelo-500: #D4A373;
  --color-caramelo-100: #FAE5D3;
  --color-creme: #FAF9F6;
}

input, textarea, select {
    background-color: white;
    border: 1px solid var(--color-caramelo-100);
    color: var(--color-chocolate-900);
    placeholder-color: var(--color-chocolate-900, 0.4);
    transition: all .3s;

    &:focus {
      outline: none;
      border: 1px solid var(--color-chocolate-900);
    }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--poppins);
}

@keyframes toastSlideDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-toastSlideDown {
  animation: toastSlideDown 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideUpFade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slideUpFade {
  animation: slideUpFade 0.4s ease-out forwards;
}